{% load static %}

{% load  widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Kelajak yoshlari</title>
    <meta name="author" content="Codeconvey" />
    
    <!--Only for demo purpose - no need to add.-->
    <link rel="stylesheet" type="text/css" href="{% static 'chat/chat.css' %}" />
	
</head>
<body>
	<div class="container">
		<div class="leftSide">
			<!-- header -->
			<div class="header">
				<div class="userimg">
				    <img class="cover" src={% static 'logotipp.jpg' %}>
				</div>
				<ul class="nav_icons">
					<li><ion-icon name="scan-circle-outline"></ion-icon></li>
					<li><ion-icon name="chatbox"></ion-icon></li>
					<li><ion-icon name="ellipsis-vertical"></ion-icon></li>
				</ul>
			</div>
			<!-- end header -->
			<!-- search -->
			<div class="search_chat">
				<div>
					<input type="text" placeholder="Search or start new chat" >
					<ion-icon name="search-outline"></ion-icon>
				</div>
			</div>
			<!-- end search -->
			<!-- chat list -->
			<div class="chatlist">
				<a href="https://t.me/kelajakyoshlari4">
					<div class="block unread">
						<div class="imgbx">
							<img src="{% static 'logotipp.jpg' %}" class="cover">
						</div>
						<div class="details">
							<div class="listHead">
								<h4>Kelajak Yoshlari</h4>
								<p class="time">10:56</p>
							</div>
							<div class="message_p">
								<p>@kelajakyoshlari4</p>
							</div>
						</div>
					</div>
				</a>
				<div class="block active">
					<div class="imgbx">
						<img src="{% static 'hayrullo.png' %}" class="cover">
					</div>
					<div class="details">
						<div class="listHead">
							<h4>Hayrullo Habibullayev</h4>
							<p class="time">10:56</p>
						</div>
						<div class="message_p">
							<p>How to make Whatsapp clone using html and css</p>
						</div>
					</div>
				</div>
				<div class="block">
					<div class="imgbx">
						<img src="{% static 'hayrullo.png' %}" class="cover">
					</div>
					<div class="details">
						<div class="listHead">
							<h4>Hayrullo Habibullayev</h4>
							<p class="time">10:56</p>
						</div>
						<div class="message_p">
							<p>How to make Whatsapp clone using html and css</p>
							<b>2</b>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="rightSide">
			<div class="header">
				<div class="imgText">
					<div class="userimg">
				    	<a href="{% url 'dashboard' %}"><img class="cover" src={% static 'logotipp.jpg' %}></a>
					</div>
					<h4>Kelajak Yoshlari<br><span>online chat</span></h4>
				</div>
				<ul class="nav_icons">
					<li><ion-icon name="search"></ion-icon></li>
					<li><ion-icon name="ellipsis-vertical"></ion-icon></li>
				</ul>
			</div>
			<div class="chatBox">
				{% for ChM in chat_message %}
					<div class="message my_message">
						<p>{{ ChM.message }}<br><span>{{ ChM.create_at }}</span></p>
					</div>
				{% endfor %}
			</div>
			<form method="POST">
				{% csrf_token %}
				<div class="chatbox_input">
					<ion-icon name="happy"></ion-icon>
					<ion-icon name="attach-outline"></ion-icon>
						{% render_field form.message type="text" placeholder="Type a message" %}
					<button type="submit"><ion-icon name="paper-plane"></ion-icon></button>
				</div>
			</form>	
		</div>
	</div>

	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>